.wrap-body-blur {
  z-index: 9;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
}

.antyclick {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; //  background: rgba(33, 0, 100, 0.4);
}

.my-modal {
  display: none;
  z-index: 10;
  min-width: 290px;
  min-height: 80px;
  position: fixed; //  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 5px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background: white;
  & .content-modal > *:last-child {
    //    padding-bottom: 50px;
  }
  &#hotel {
    .hotels-wrap {
      .item {
        .info-part .title-block {
          color: $font-color;
          text-decoration: none;
          font-weight: 800;
        }
        .info-block {
          font-weight: 500;
          font-size: 14px;
        }
      }
    }



    .text-info {
      margin-top: 20px;
      .p-item {
        font-weight: 500;
        margin-bottom: 20px;
        .p-title {
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 7px;
        }
        .p-subtitle {
          font-weight: 800;
          margin-top: 13px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .top-row {
    background-color: #f8f8f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px 20px;


    .close-modal {
      width: 35px;
      height: 35px;
      background-color: $main-color;
      border-radius: 50%; //    position: absolute;
      //    top: 15px;
      //    right: 20px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 25px;
      &:hover {
        cursor: pointer;
        background: $main-color-hover;
      }
    }
  }

  .content-modal {
    z-index: 2;
    overflow-x: hidden;
  }
  .wrap-content {
    padding: 20px 50px;
    padding-bottom: 5px;
    max-height: 650px;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    right: -17px;
    z-index: 1;
    @media(max-width: 767px) {
      padding: 20px 45px 20px 15px;
    }
  }
  &.modal-big {
    width: 100%;

    top: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    background: white;




    @media (min-width: 576px) {
      max-width: 540px
    }

    @media(min-width: 768px) {
      max-width: 760px
    }

    @media(min-width: 992px) {
      max-width: 960px
    }

    @media(min-width: 1200px) {
      max-width: 1200px
    }


  }

  ul:not(.slick-dots) {
    list-style-type: none;
    li::before {
      content: ">";
      display: inline-block;
      margin-right: 10px;
    }
  }

  .list-info-block {
    padding: 20px 35px;
    background-color: #f8f8f7;
    .line {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 15px;
      .field {
        flex-basis: 25%;
        font-weight: 700;
        @media(max-width: 767px) {
          flex-basis: 100%;
          margin-bottom: 5px;
        }
      }
      .value {
        flex-basis: 70%;
        @media(max-width: 767px) {
          flex-basis: 100%;

        }
      }
    }
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 50px;
    .btn-order {
      width: auto;
      height: 55px;
      border-radius: 50px;
      padding-left: 45px;
      padding-right: 45px;
      @media(max-width: 576px) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .close-modal {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      margin-left: 10px;
      font-size: 35px;
      font-weight: 300;
      &:hover {
        text-decoration: none;
      }
    }
  }


  &#modal-order-fast {
    background: #f2f2ef;
    width: 600px;
    max-width: 97%;
    .top-row {
      background: #f2f2ef;
    }
    .wrap-content {
      padding-top: 0;
      padding-right: 67px;
    }
    .inputs-wrap input {
      width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .btn-submit {
      margin-top: 20px;
      margin-left: auto;
    }
  }

  &#modal-order-big {

    .content-modal {
      background-color: #F8F8F7;
    }




    @media(min-width: 768px) {
      $outer-width: 660;
    }

    @media(min-width: 992px) {
      $outer-width: 860;
    }

    @media(min-width: 1200px) {
      $outer-width: 1100;
    }
    .inputs-wrap {
      display: flex;
      flex-wrap: wrap;
      $margin-right: 20;
      $count: 2;
      input,
      select {
        $count: 2; //      width: ($outer-width -  $margin-right*($count - 1));
        margin-bottom: 15px;
        margin-right: $margin-right + px;
        &:nth-child(2n) {
          margin-right: 0;
        }

        @media (max-width: 575px) {
          width: 100%;
          margin-right: 0;
        }
        @media (min-width: 576px) and (max-width: 767px) {
          width: (440 - $margin-right*($count - 1))/2 + px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          width: (645 - $margin-right*($count - 1))/2 + px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
          width: (860 - $margin-right*($count - 1))/2 + px;
        }
        @media (min-width: 1200px) {
          width: (1080 - $margin-right*($count - 1))/2 + px;
        }

      }
    }
  }

	&#add-review{
		.top-row{
			background-color: #f2f2ef;
		}
		.wrap-content, .grey-block{
			padding-top: 0;
		}
		.grey-block{
			padding: 0;
		}
		background-color: 	#f2f2ef;	
		input[type="text"]{
			width: 100%;
			max-width: 500px;
			margin-bottom: 15px;
		}
		
		.row-bottom{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 20px;
			.left-part{
				flex-basis: 25%
			}
			.right-part{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-basis: 50%;
				display: flex;
				input{
					margin-left: 15px;
				}
			}
			.captcha{
				width: 280px;
				height: 60px;
				border: 1px solid black;
			}
			.label{
				margin-bottom: 10px;
			}
			@media(min-width: 992px) and (max-width: 1199px){
				.left-part{
					flex-basis: auto
				}
				.right-part{
					flex-basis: auto
				}
			}
				@media(min-width: 768px) and (max-width: 991px){
				.left-part{
					flex-basis: auto;
					margin-bottom: 10px;
				}
				.right-part{
					flex-basis: auto
				}
			}
			
			@media(max-width: 767px){
				& >*{
					flex-basis: 100%;										
				}
				.left-part{
					margin-bottom: 10px;	
				}
				.btn-submit{
					margin-top: 10px;
				}
				.wrap-content{
					padding-bottom: 0;
				}
				input.btn-submit{
					margin-left: 0;
				}
			}
			
		}
//		
//						<div class="row-bottom">
//							<div class="left-part">
//								<div class="wrap-photo-select">
//									<div class="label">Фото</div>
//									<input type="file">
//								</div>
//							</div>
//							<div class="right-part">
//								<div class="captcha"></div>
//								<input type="submit" class="btn-primary btn-submit" value="добавить отзыв">
//							</div>
//						</div>

		
		
	}
	
}
